/**************************************/
/* BELOW 1344PX (Smaller desktops) */
/**************************************/

@media (max-width: 84em) {
  .heading-primary {
    font-size: 5.2rem;
  }

  main .header {
    padding: 4.4rem 19.8rem;
    text-align: center;
  }

  .head-text-par {
    padding: 0 9.6rem;
  }

  .image-header-container {
    width: 100%;
    height: 45rem;
    border-radius: 1.6rem;
    background: url("../images/Come\ on\ a\ Beautiful\ Journey.png") lightgray
      2px -171.058px / 100% 255.691% no-repeat;
    background-size: cover;
    background-position: top;
  }
}

/**************************************/
/* BELOW 1200PX (Landscape tablets) 1200/16 = 75*/
/**************************************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .image-header-container {
    width: 100%;
    height: 45rem;
    border-radius: 1.6rem;
    background: url("../images/Come\ on\ a\ Beautiful\ Journey.png") lightgray
      2px -171.058px / 100% 255.691% no-repeat;
    background-size: cover;
    background-position: top;
  }

  .gallery-main-cont {
    width: 100%;
    height: 60rem;
    border-radius: 1.6rem;
    background: url("../images/hand-crafted.png") lightgray 2px -171.058px / 100%
      255.691% no-repeat;
    background-size: cover;
    background-position: top;
  }
}

/* Below 1070PX */
@media (max-width: 67em) {
  .head-text-par {
    padding: 1.2rem 1.8rem;
  }
}

/**************************************/
/* BELOW 944PX (Landscape tablets) 944/16 = 59*/
/**************************************/
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .header-text-container {
    padding: 1.2rem 14.8rem;
  }

  /* MOBILE NAVIGATION */

  .btn-mobile-nav {
    display: block;
    z-index: 999;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* transition: all 0.5s; */

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .nav-items {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/**************************************/
/* BELOW 700PX (smaller tablets) */
/**************************************/
@media (max-width: 44em) {
  .heading-primary {
    font-size: 4rem;
  }

  .contact-items {
    font-size: 1.2rem;
  }

  .cta-text {
    font-size: 1.4rem;
  }

  .cta-link-container {
    font-size: 1rem;
    gap: 1.4rem;
  }

  input {
    padding: 0 1rem;
    font-size: 1.2rem;
  }

  .input-btn-container button {
    font-size: 1.6rem;
    padding: 1.2rem 3.4rem;
  }
}

/*  BELOW 544PX () */
@media (max-width: 34em) {
  .header-text-container {
    padding: 1.2rem 1.4rem;
  }

  .heading-primary {
    font-size: 3rem;
  }

  .image-header-container {
    margin: 1rem auto;
    width: 90%;
    height: 36rem;
  }

  .about {
    padding: 1.2rem 0;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.6) 100%
      ),
      url("../images/Dance\ of\ love.png") lightgray 2px -324.449px / 100% 198.761%
        no-repeat;
    margin-top: 5.2rem;
    margin-bottom: 6.4rem;
  }

  .about-text-container {
    padding: 0 3.4rem;
  }

  /* COLLECTION */

  .coll-text {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .collection-gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery-main-cont {
    height: 34rem;
  }

  .collection-text-container {
    padding: 2rem 10rem;
  }

  .collection-container {
    margin-bottom: 8rem;
  }

  .contact-text {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .contact-items {
    padding: 0;
    font-size: 1.2rem;
  }

  .contact-items-container {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.6) 100%
      ),
      url("../images/Yoruba Wedding Couple.png") lightgray 4.384px -380.431px / 100%
        471.762% no-repeat;
    margin-bottom: 3rem;
  }

  /* Call to action */
  .cta-content-container {
    flex-direction: column;
    gap: 4.4rem;
    align-items: flex-start;
  }

  /* Footer */
}

/*  Fixing Safari flexbox gap */
/*
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
      margin-right: 4.8rem;
    }
    
    .no-flexbox-gap .list-item:not(:last-child) {
      margin-bottom: 1.6rem;
    }
    
    .no-flexbox-gap .list-icon:not(:last-child) {
      margin-right: 1.6rem;
    }
    
    .no-flexbox-gap .delivered-faces {
      margin-right: 1.6rem;
    }
    
    .no-flexbox-gap .meal-attribute:not(:last-child) {
      margin-bottom: 2rem;
    }
    
    .no-flexbox-gap .meal-icon {
      margin-right: 1.6rem;
    }
    
    .no-flexbox-gap .footer-row div:not(:last-child) {
      margin-right: 6.4rem;
    }
    
    .no-flexbox-gap .social-links li:not(:last-child) {
      margin-right: 2.4rem;
    }
    
    .no-flexbox-gap .footer-nav li:not(:last-child) {
      margin-bottom: 2.4rem;
    }
    
    @media (max-width: 75em) {
      .no-flexbox-gap .main-nav-list li:not(:last-child) {
        margin-right: 3.2rem;
      }
    }
    
    @media (max-width: 59em) {
      .no-flexbox-gap .main-nav-list li:not(:last-child) {
        margin-right: 0;
        margin-bottom: 4.8rem;
      }
    }*/
